<button {{action "loadThings"}}>Hent flere!</button>

<p>{{link-to "Last opp din ødelagte ting!" "new_thing"}}</p>

<ul class="things-index">
  {{#each things as |thing|}}
    {{square-thing thing=thing}}
  {{/each}}
</ul>

