ul.things-index {
  list-style-type: none;
}
ul.things-index li {
  display: inline-block;
  margin: 5px;
}
ul.things-index img {
  width: 250px;
  height: 250px;
}

#fiksefest-content {
}

#fiksefest-content button {
  background: white;
  border: 4px solid #e63334;
  padding: 0.8em;
  font-size: larger;
  border-radius: 9px;
  margin: auto auto;
  display: block;
  text-align: center;
}

#fiksefest-content button:hover {
  background: rgba(230, 51, 35, 0.3);
}

#fiksefest-content .thing {
  max-width: 100%;
  width: 600px;
  margin: auto auto;
}

#fiksefest-content .thing img {
  max-width: 100%;
  width: 600px;
}

#fiksefest-content .thing blockquote {
  color: #333;
  font-size: larger;
  font-style: italic;
}

#fiksefest-content .thing blockquote footer {
  color: #333;
  font-size: small;
  font-style: italic;
}
