ul.things-index {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.things-index li {
  display: inline-block;
  margin-left: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 0;
}
ul.things-index img {
  width: 234px;
  height: 234px;
}
ul.things-index a:hover img {
  box-shadow: 0 0 2px 2px gold;
}
ul.things-index a {
  box-shadow: none;
}


#fiksefest-content {
}

#fiksefest-content button {
  background: rgba(230, 51, 34, 0.2); 
  border: 4px solid #e63334;
  box-shadow: 2px 2px 1px 1px black;
  padding: 0.8em;
  font-size: larger;
  border-radius: 9px;
  display: block;
  text-align: center;
  margin-bottom: 2em;
}

#fiksefest-content button:hover {
  background: rgba(230, 51, 35, 0.4);
}

#fiksefest-content button:active {
  background: rgba(230, 51, 35, 0.4);
  box-shadow: inset 1px 1px black, 2px 2px 1px 1px black;
}

#fiksefest-content .thing {
  max-width: 100%;
  width: 600px;
}

#fiksefest-content .thing img {
  max-width: 100%;
  width: 600px;
}

#fiksefest-content .thing blockquote {
  color: #333;
  font-size: medium;
}

#fiksefest-content .thing blockquote footer {
  color: #333;
  font-size: small;
  font-style: italic;
}

#fiksefest-content label {
  display: block;
  width: 100%;
  font-weight: bold;
}

#fiksefest-content textarea,
#fiksefest-content input {
  width: 90%;
  max-width: 500px;
  padding:12px;
  margin: 6px 0;
  border-radius: 4px;
  border: 1px solid #e63334;
  font-size: medium;
}

#fiksefest-content textarea:focus,
#fiksefest-content input:focus {
  box-shadow: inset 0 0 gold;
}

ul.comments {
	list-style-type: none;
	padding: 0
}

ul.comments blockquote {
	font-style: normal;
	border-left: 4px solid rgba(230,51,35, 0.3);
	padding-left: 1em;
}

ul.comments blockquote small {
	color: #777;
}

ul.comments blockquote small::before {
	content: "– "
}

.infinity-loader {
  font-style: italic;
  color: #999;
}

