<h2>En feil oppstod</h2>

<p>Beklageligvis oppstod en feil med ditt innsendte
bidrag. Kanskje du glemte å legge ved filen, eller glemte
å fylle ut et av feltene? Det kan også være at filen var
for stor (over 10 MB!) eller ikke er et bilde.</p>

{{link-to 'Prøv gjerne på nytt' 'new_thing'}}
