<h2 id="begin">Takk for ditt bidrag!</h2>

{{link-to 'Tilbake til fiksefesten' 'things'}}

<p>Et menneske hos oss må nå se gjennom bidraget ditt før
det kan publiseres. Du vil få e-post når det er i orden.
Inntil da kan du se på de andre bidragene, og kanskje
hjelpe noen andre ved å legge igjen en kommentar?</p>

<p>Spre gjerne ordet om denne konkurransen!</p>

<iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fmorgenbladet.no%2Ffiksefest&layout=button&size=large&mobile_iframe=true&appId=491796074316613&width=73&height=28" width="73" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

<script>
  Ember.$(function() {
    Ember.$('html, body').scrollTop(Ember.$("#begin").offset().top);
  });
</script>
