<p>Her er et knippe av de ødelagte tingene folk har lastet opp. Trykk på dem for å lese historien bak, og kom gjerne med tips til hvordan man kan fikse dem!</p>

{{things-index things=model}}

{{infinity-loader infinityModel=model loadingText="Henter flere…" loadedText="Det var alle!"}}
